@{
    ViewData["Title"] = "Home Page";
}

<div>
    
    @ViewBag.HelloMessage<br><br />
    <br>
    Number 1: @ViewBag.num1<br />
    Number 2: @ViewBag.num2<br />
    Sum: @ViewBag.sum<br /><br />
    <br />
</div>
