<configuration>  
   <runtime>  
      <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">  
	<dependentAssembly>
<assemblyIdentity name="calc"
		publickeyToken="8c925a1dff64bb17 "
		culture="neutral"/>
<bindingRedirect oldVersion="0.0.0.0"
newVersion="1.0.0.0"/>
	<dependentAssembly>
      </assemblyBinding>  
   </runtime>  
</configuration>  
